* {
    padding: 0;
    margin: 0;
}


body {
    font-size: 16px;
    padding-top: 20px;
    background: black;
}


.renderPicture {
    margin-left: 25%;
}
.renderPicture.activate {
    animation-name: fade;
    animation-direction: normal;
    animation-duration: 2400ms;
    animation-iteration-count: 1;

}

@keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}


.buttons  {

    display: inline-block;
    box-sizing: border-box;
    padding: 0 25px;
    margin: 0 15px 15px 0;
    outline: none;
    border: 1px solid #fff;
    border-radius: 50px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #444;
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.2s;
    margin-left: 26%;
}



button:hover {
    background-color: #aaa;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px lightskyblue;
}


